{% block content %}

    {% if track_list|length %}

        {% for track in track_list.object_list %}
            <div class="row trackRecord">
                <h2><a href="{{track.scurl}}">{{track.title}} - {{track.artist}}</a> </h2>
                {% autoescape off %}
                    {{track.embedhtml}}
                {% endautoescape %}
            </div>
            <span style="padding: 10px;"></span>
        {% endfor %}

        <ul class="pager">
            <li class="previous">
                {% if track_list.has_previous %}
                    <a href="#" onclick="Dajaxice.ListTracks.pagination(Dajax.process, { 'text': $('#searchForTrack').val(), 'p':{{ track_list.previous_page_number }}})">&larr; Previous</a>
                {% endif %}
            </li>
            <li class="next">
                {% if track_list.has_next %}
                    <a href="#" onclick="Dajaxice.ListTracks.pagination(Dajax.process, { 'text': $('#searchForTrack').val(), 'p':{{ track_list.next_page_number }}})">Next &rarr;</a>
                {% endif %}
            </li>
        </ul>

        <script type="text/javascript">
            $(document).ready(function() {
                // http://api.jquery.com/css/
                $('iframe').css('height','100');
            });
        </script>

    {% else %}

        <div class="row">
            <h3>No tracks found..</h3>
        </div>

    {% endif %}

{% endblock %}
